/*PAGINA INICIO*/
/* Inicio Variables*/
/*Colores*/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap");
/* Fin Variables*/
/* General */
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* header inicio */
header {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 18px;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  width: 60px;
}

.navbar-inicio a {
  color: #fff !important;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.navbar-inicio a:hover {
  color: #6EA4BF !important;
}

/* mediaquery inicio */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar-collapse ul {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .navbar {
    width: 800px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse ul {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .navbar-collapse li {
    margin: 10px;
  }
  .navbar-collapse a {
    padding: 10px;
  }
}
/* fin mediaqury */
/* header fin */
/* main inicio */
.main-inicio {
  background-image: url(../img/Inicio/vintage-old-rustic-cutlery-dark.jpg);
  background-size: cover;
  height: 400px;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 10px;
}

.main-inicio-box1 {
  background-color: #6EA4BF;
  width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #fff;
}
.main-inicio-box1 h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.main-inicio-box1 p {
  font-size: 14px;
  color: #fff;
  margin: 0px;
  padding-bottom: 10px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.main-inicio-box1 a {
  text-decoration: none;
  color: #6EA4BF;
  background-color: #000;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

/* inicio mediaquery */
@media (min-width: 420px) {
  .main-inicio {
    justify-content: end;
    padding-right: 25px;
  }
}
/* fin mediaquery */
/* main fin */
/* section-1 inicio */
.sec-1-inicio {
  background-color: #6EA4BF;
  border-top: 2px solid #fff;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
}
.sec-1-inicio h2 {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 25px 0px 50px 0px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.sec-1-inicio p {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

.sec-1-inicio-div1 {
  max-width: 900px;
}

.sec-1-inicio-box1 {
  background-image: url(../img/Inicio/img1-inicio-sec3.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  box-shadow: inset 0px 0px 0px 3px #fff;
  border: 5px solid #6EA4BF;
}

.sec-1-inicio-box2 {
  background-image: url(../img/Inicio/img2-inicio-sec3.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  box-shadow: inset 0px 0px 0px 3px #fff;
  border: 5px solid #6EA4BF;
}

/* inicio mediaquery */
@media (min-width: 870px) {
  .sec-1-inicio-box1,
  .sec-1-inicio-box2 {
    height: 380px;
  }
  .sec-1-inicio p {
    font-size: 25px;
    margin-top: 50px;
  }
}
/* fin mediquery */
/* section-1 fin */
/* section-2 inicio */
.sec-2-inicio {
  background-color: #C2EFEB;
  border-top: 2px solid #fff;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-2-inicio h2 {
  color: #000;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 25px 0px 50px 0px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.slayer {
  border: 3px solid #fff;
  border-radius: 3px;
  max-width: 900px;
}

.carousel-caption {
  text-align: center;
}

.carousel-item h3 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px 0px #6EA4BF, 2px 2px 0px #000;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

/* inicio mediaquery */
@media (min-width: 390px) {
  .carousel-item h3 {
    font-size: 22px;
  }
}
@media (min-width: 760px) {
  .carousel-item h3 {
    font-size: 28px;
  }
}
/* fin mediaquery */
/* section-2 fin */
/* section-3 inicio */
.sec-3-inicio {
  background-color: #ECFEE8;
  border-top: 2px solid #fff;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-3-inicio h2 {
  color: #000;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 25px 0px 50px 0px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.sec-3-inicio-div1 {
  max-width: 900px;
}

.sec-3-inicio p {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

.sec-3-inicio-box1 {
  display: flex;
  align-items: center;
  padding: 15px;
}

.sec-3-inicio-img1 {
  background-image: url(../img/Inicio/img1-inicio-sec4.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  border: 3px solid #000;
}

/* inicio mediaquery */
@media (min-width: 820px) {
  .sec-3-inicio-box1 p {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  .sec-3-inicio-img1 {
    height: 350px;
  }
  .sec-3-inicio-box1 p {
    font-size: 22px;
  }
}
/* fin mediaquery */
/* section-3 fin */
/* footer inicio */
footer {
  border-top: 2px solid #fff;
  padding: 15px 25px 0px 25px;
  background-color: #B49A67;
}

.footer-box1 {
  text-align: center;
  border-bottom: 1px solid #000;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.footer-box1 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box2 {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.footer-box2 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.redes {
  font-size: 35px;
  margin-top: 30px;
}
.redes a {
  color: #000;
  margin: 0px 2px;
}

.redes a:hover {
  color: #fff;
}

.footer-box3 {
  text-align: center;
  padding: 25px 0px;
}
.footer-box3 ul {
  list-style: none;
  padding: 0;
}
.footer-box3 a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box3 a:hover {
  color: #fff;
}

.fila-2-footer p {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #000;
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .footer-box1 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
  .footer-box2 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
}
/* fin mediaquery */
/* footer fin */
/* up inicio */
.up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  border: 2px solid #6EA4BF;
  border-radius: 50%;
  padding: 0px 7px;
  color: #6EA4BF;
  font-size: 25px;
}

.up:hover {
  color: #C2EFEB;
  border-color: #C2EFEB;
  background-color: #000;
}

/* up fin */
/*PAGINA COMIDA*/
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Inicio Variables*/
/*Colores*/
/* Fonts */
/* Fin Variables*/
/* header inicio */
header {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 18px;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  width: 60px;
}

.navbar-comida a {
  color: #fff !important;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.navbar-comida a:hover {
  color: #397367 !important;
}

/* mediaquery inicio */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar-collapse ul {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .navbar {
    width: 800px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse ul {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .navbar-collapse li {
    margin: 10px;
  }
  .navbar-collapse a {
    padding: 10px;
  }
}
/* fin mediaqury */
/* header fin */
/* main inicio */
.main-comida {
  background-image: url(../img/Comida/img1-comida-sec1.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid #fff;
}

.main-comida-box1 {
  background-color: #397367;
  width: 300px;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 3px solid #fff;
}
.main-comida-box1 p {
  color: #fff;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.main-comida-box1 h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.main-comida-box1 a {
  text-decoration: none;
  color: #397367;
  background-color: #000;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

/* inicio mediaquery */
@media (min-width: 420px) {
  .main-comida {
    justify-content: end;
    padding-right: 25px;
  }
}
/* fin mediaquery */
/* main fin */
/* section-1 inicio */
.sec-1-comida {
  padding: 15px 25px;
  background-color: #397367;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
}
.sec-1-comida h2 {
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 40px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  padding: 25px 0px 50px 0px;
}

.sec-1-comida-div1 {
  max-width: 700px;
}

.sec-1-comida-box1 {
  background-image: url(../img/Comida/img3-comida-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  border: 5px solid #397367;
  box-shadow: inset 0px 0px 0px 3px #fff;
}

.sec-1-comida-box2 {
  background-image: url(../img/Comida/img2-comida-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  border: 5px solid #397367;
  box-shadow: inset 0px 0px 0px 3px #fff;
}

.sec-1-comida-box3 {
  text-align: center;
  padding-top: 20px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

.sec-1-comida-box4 {
  background-image: url(../img/Comida/img4-comida-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  border: 5px solid #397367;
  box-shadow: inset 0px 0px 0px 3px #fff;
}

/* inicio mediaquery */
@media (min-width: 420px) {
  .main-comida {
    justify-content: flex-end;
    padding-right: 25px;
  }
}
@media (min-width: 576px) {
  .sec-1-comida-box4 {
    height: 400px;
  }
  .sec-1-comida-box3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 700px) {
  .sec-1-comida-box1,
  .sec-1-comida-box2 {
    height: 300px;
  }
  .sec-1-comida-box3 p {
    font-size: 20px;
  }
  .sec-1-comida-box4 {
    height: 500px;
  }
}
@media (min-width: 820px) {
  .sec-1-comida-box3 {
    padding-top: 10px;
    padding-right: 25px;
  }
  .sec-1-comida-box3 p {
    font-size: 21px;
  }
}
/* fin mediauqery */
/* section-1 fin */
/* section-2 inicio */
.sec-2-comida {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #63CCCA;
  border-top: 3px solid #fff;
}

.sec-2-comida h2 {
  text-align: center;
  padding: 25px 0px 50px 0px;
  font-size: 35px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.sec-2-comida-div1 {
  max-width: 800px;
}

.sec-2-comida-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px !important;
}

.sec-2-comida-box1-img {
  background-image: url(../img/Comida/pancakes.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border: 3px solid #fff;
}

.sec-2-comida-box1 p {
  text-align: center;
  margin-top: 30px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .sec-2-comida-box1-img {
    height: 300px;
  }
}
@media (min-width: 700px) {
  .sec-2-comida-box1-img {
    height: 350px;
  }
  .sec-2-comida-box1 p {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  .sec-2-comida-box1-img {
    height: 400px;
  }
}
/* fin mediaquery */
.sec-2-comida-box2 {
  background-image: url(../img/Comida/img2-comida-sec3.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  border: 5px solid #63CCCA;
  box-shadow: inset 0px 0px 0px 3px #fff;
}

.sec-2-comida-box3 {
  background-image: url(../img/Comida/img3-comida-sec3.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  border: 5px solid #63CCCA;
  box-shadow: inset 0px 0px 0px 3px #fff;
}

.sec-2-comida-box4 p {
  text-align: center;
  margin-top: 25px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 700px) {
  .sec-2-comida-box4 p {
    font-size: 20px;
  }
  .sec-2-comida-box2,
  .sec-2-comida-box3 {
    height: 500px;
  }
}
/* fin mediaquery */
/* section-2 fin */
/* section-3 inicio */
.sec-3-comida {
  border-top: 2px solid #fff;
  background-color: #A8D5B7;
  padding: 25px 20px 100px 20px;
}
.sec-3-comida h2 {
  text-align: center;
  padding: 25px 0px 50px 0px;
  font-size: 35px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.contendor-platos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 300px);
  grid-gap: 10px;
}

.plato {
  border: 3px solid #fff;
}

.platos-img1 {
  background-image: url(../img/Comida/galeria/vegan-alto.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img2 {
  background-image: url(../img/Comida/galeria/canape.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img3 {
  background-image: url(../img/Comida/galeria/hamburger.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img4 {
  background-image: url(../img/Comida/galeria/meals.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img5 {
  background-image: url(../img/Comida/galeria/eggs-alto.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img6 {
  background-image: url(../img/Comida/galeria/salad.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img7 {
  background-image: url(../img/Comida/galeria/lobsters.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img8 {
  background-image: url(../img/Comida/galeria/blueberries.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.plato h4 {
  width: 100%;
  color: #000;
  background-color: rgba(168, 213, 183, 0.5);
  border-top: 1px solid #fff;
  text-align: center;
  padding: 5px;
  margin: 0;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .contendor-platos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
    grid-gap: 10px;
  }
  .platos-img2 {
    background-position: left;
  }
}
@media (min-width: 780px) and (max-width: 1050px) {
  .contendor-platos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 170px);
  }
  .platos-img1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .platos-img2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .platos-img3 {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .platos-img4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .platos-img5 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .platos-img6 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .platos-img7 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .platos-img8 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .plato h4 {
    font-size: 16px;
  }
}
@media (min-width: 1050px) {
  .contendor-platos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
  }
}
/* fin mediaquery */
/* section-3 fin */
/* footer inicio */
footer {
  border-top: 2px solid #fff;
  padding: 15px 25px 0px 25px;
  background-color: #EDDEA4;
}

.footer-box1 {
  text-align: center;
  border-bottom: 1px solid #000;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.footer-box1 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box2 {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.footer-box2 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.redes {
  font-size: 35px;
  margin-top: 30px;
}
.redes a {
  color: #000;
  margin: 0px 2px;
}

.redes a:hover {
  color: #fff;
}

.footer-box3 {
  text-align: center;
  padding: 25px 0px;
}
.footer-box3 ul {
  list-style: none;
  padding: 0;
}
.footer-box3 a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box3 a:hover {
  color: #fff;
}

.fila-2-footer p {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #000;
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .footer-box1 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
  .footer-box2 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
}
/* fin mediaquery */
/* footer fin */
/* up inicio */
.up-comida {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  border: 2px solid #397367;
  border-radius: 50%;
  padding: 0px 7px;
  color: #6EA4BF;
  font-size: 25px;
}

.up-comida:hover {
  color: #63CCCA;
  border-color: #63CCCA;
  background-color: #000;
}

/* up fin */
/*PAGINA NOSOTROS*/
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Inicio Variables*/
/*Colores*/
/* Fonts */
/* Fin Variables*/
/* header inicio */
header {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 18px;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  width: 60px;
}

.navbar-nav a {
  color: #fff !important;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.navbar-nosotros a:hover {
  color: #6FD08C !important;
}

/* mediaquery inicio */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar-collapse ul {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .navbar {
    width: 800px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse ul {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .navbar-collapse li {
    margin: 10px;
  }
  .navbar-collapse a {
    padding: 10px;
  }
}
/* fin mediaqury */
/* header fin */
/*inicio main*/
.main-nosotros {
  background-image: url(../img/Nosotros/img1-nosotros-sec1.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid #fff;
}

.main-nosotros-box1 {
  width: 280px;
  background-color: #6FD08C;
  border: 2px solid #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.main-nosotros-box1 h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.main-nosotros-box1 p {
  font-size: 14px;
  color: #fff;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.main-nosotros-box1 a {
  text-decoration: none;
  color: #6FD08C;
  background-color: #000;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Winky Sans", sans-serif;
}

/* inicio mediaquery */
@media (min-width: 420px) {
  .main-nosotros {
    justify-content: flex-end;
    padding-right: 25px;
  }
}
/* fin mediaquery */
/*fin main*/
/* section-1 inicio */
.sec-1-nosotros {
  border-top: 2px solid #fff;
  background-color: #6FD08C;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-1-nosotros h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 25px 0px 50px 0px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.sec-1-nosotros-div1 {
  max-width: 800px;
}

.sec-1-nosotros-img1 {
  background-image: url(../img/Nosotros/lara.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  border: 3px solid #fff;
}

.sec-1-nosotros-box1 {
  text-align: center;
}
.sec-1-nosotros-box1 h3 {
  margin-top: 15px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.sec-1-nosotros-box1 h4 {
  margin-bottom: 15px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.sec-1-nosotros-img2 {
  background-image: url(../img/Nosotros/george.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  border: 3px solid #fff;
}

.sec-1-nosotros-box2 {
  text-align: center;
}
.sec-1-nosotros-box2 h3 {
  margin-top: 15px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.sec-1-nosotros-box2 h4 {
  margin-bottom: 15px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.sec-1-nosotros-fila2 {
  text-align: center;
}
.sec-1-nosotros-fila2 p {
  padding: 50px 60px 70px 60px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 476px) {
  .sec-1-nosotros-img1,
  .sec-1-nosotros-img2 {
    height: 450px;
  }
}
@media (min-width: 675px) {
  .sec-1-nosotros-fila2 p {
    font-size: 22px;
  }
}
/* fin mediaquery */
/* section-1 fin */
/* section-2 inicio */
.sec-2-nosotros {
  border-top: 2px solid #fff;
  background-color: #FFC53A;
}
.sec-2-nosotros h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 25px 0px 50px 0px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.box-equipo {
  text-align: center;
  height: auto;
}
.box-equipo h3 {
  padding-top: 10px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.box-equipo h4 {
  padding-bottom: 10px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.box-border-nosotros, .sec-2-nosotros-img6, .sec-2-nosotros-img5, .sec-2-nosotros-img4, .sec-2-nosotros-img3, .sec-2-nosotros-img2, .sec-2-nosotros-img1 {
  border: 3px solid #fff;
}

.sec-2-nosotros-img1 {
  background-image: url(../img/Nosotros/img3-nosotros-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.sec-2-nosotros-img2 {
  background-image: url(../img/Nosotros/img4-nosotros-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.sec-2-nosotros-img3 {
  background-image: url(../img/Nosotros/img5-nosotros-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.sec-2-nosotros-img4 {
  background-image: url(../img/Nosotros/img6-nosotros-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.sec-2-nosotros-img5 {
  background-image: url(../img/Nosotros/img7-nosotros-sec3.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.sec-2-nosotros-img6 {
  background-image: url(../img/Nosotros/img8-nosotros-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

/*inicio mediaquery*/
@media (min-width: 428px) and (max-width: 575px) {
  .equipo-img {
    height: 500px;
  }
}
/*fin mediaquery*/
/* section-2 fin */
/* footer inicio */
footer {
  border-top: 2px solid #fff;
  padding: 15px 25px 0px 25px;
  background-color: #EDDEA4;
}

.footer-box1 {
  text-align: center;
  border-bottom: 1px solid #000;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.footer-box1 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box2 {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.footer-box2 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.redes {
  font-size: 35px;
  margin-top: 30px;
}
.redes a {
  color: #000;
  margin: 0px 2px;
}

.redes a:hover {
  color: #fff;
}

.footer-box3 {
  text-align: center;
  padding: 25px 0px;
}
.footer-box3 ul {
  list-style: none;
  padding: 0;
}
.footer-box3 a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box3 a:hover {
  color: #fff;
}

.fila-2-footer p {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #000;
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .footer-box1 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
  .footer-box2 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
}
/* fin mediaquery */
/* footer fin */
/* up inicio */
.up-nosotros {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  border: 2px solid #6FD08C;
  border-radius: 50%;
  padding: 0px 7px;
  color: #6FD08C;
  font-size: 25px;
}

.up-nosotros:hover {
  color: #FFC53A;
  border-color: #FFC53A;
  background-color: #000;
}

/* up fin */
/*PAGINA MENTALIDAD*/
/* Inicio Variables*/
/*Colores*/
/* Fonts */
/* Fin Variables*/
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* header inicio */
header {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 18px;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  width: 60px;
}

.navbar-nav a {
  color: #fff !important;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.navbar-mentalidad a:hover {
  color: #CF5C36 !important;
}

/* mediaquery inicio */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar-collapse ul {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .navbar {
    width: 800px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse ul {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .navbar-collapse li {
    margin: 10px;
  }
  .navbar-collapse a {
    padding: 10px;
  }
}
/* fin mediaqury */
/* header fin */
/*inicio main*/
.main-mentalidad {
  background-image: url(../img/Mentalidad/img1-mentalidad-sec1.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid #fff;
}

.main-mentalidad-box1 {
  width: 280px;
  background-color: #CF5C36;
  border: 2px solid #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.main-mentalidad-box1 h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.main-mentalidad-box1 p {
  font-size: 14px;
  color: #fff;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.main-mentalidad-box1 a {
  text-decoration: none;
  color: #CF5C36;
  background-color: #000;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Winky Sans", sans-serif;
}

/* inicio mediaquery */
@media (min-width: 420px) {
  .main-mentalidad {
    justify-content: flex-end;
    padding-right: 25px;
  }
}
/* fin mediaquery */
/*fin main*/
/* footer inicio */
footer {
  border-top: 2px solid #fff;
  padding: 15px 25px 0px 25px;
  background-color: #EDDEA4;
}

.footer-box1 {
  text-align: center;
  border-bottom: 1px solid #000;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.footer-box1 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box2 {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.footer-box2 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.redes {
  font-size: 35px;
  margin-top: 30px;
}
.redes a {
  color: #000;
  margin: 0px 2px;
}

.redes a:hover {
  color: #fff;
}

.footer-box3 {
  text-align: center;
  padding: 25px 0px;
}
.footer-box3 ul {
  list-style: none;
  padding: 0;
}
.footer-box3 a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box3 a:hover {
  color: #fff;
}

.fila-2-footer p {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #000;
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .footer-box1 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
  .footer-box2 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
}
/* fin mediaquery */
/* footer fin */
/* up inicio */
.up-nosotros {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  border: 2px solid #CF5C36;
  border-radius: 50%;
  padding: 0px 7px;
  color: #CF5C36;
  font-size: 25px;
}

.up-nosotros:hover {
  color: #EFC88B;
  border-color: #EFC88B;
  background-color: #000;
}

/* up fin */

/*# sourceMappingURL=style.css.map */
