/*seccion-1 inicio*/

.sec-1-mentalidad {
    border-top: 2px solid $colorblanco;
    background-color: $color-primario-mentalidad;
    text-align: center;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: $fuenteprincipal;
        font-size: 40px;
        padding: 25px 0px 60px 0px;
        font-weight: 500;
        color: $colornegro;
    }
}

.fila-1-mentalidad{
    max-width: 800px;
}

.img-1-mentalidad {
    background-image: url(../img/Mentalidad/img1-mentalidad-sec2.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid $colorblanco;
    border-radius: 20px;
    height: 300px;
}

.box-2-mentalidad p {
        font-family: $fuentesecundaria;
        font-weight: $pesofuentesecundaria;
        margin-top: 40px;
        padding: 10px;
        border-radius: 20px;
        border: 2px solid $colornegro;
        color: $colorblanco;
}

/*inicio mediaquery*/

@media (min-width:576px){
    .box-2-mentalidad{
        display: flex;
        align-items: center;
    }
}

@media (min-width:792px){
    .box-2-mentalidad p{
        font-size: 20px;
    }
}

@media (min-width:884px){
    .box-2-mentalidad p{
        padding: 20px;
    }
}

/*fin mediaquery*/


/*seccion-1 fin*/