/* Inicio Variables*/

/*Colores*/

$colornegro: #000;
$colorblanco: #fff;
$colorceleste: #6EA4BF;

/* Fonts */

$fuenteprincipal: "ZCOOL XiaoWei", sans-serif;
$fuentesecundaria: "Winky Sans", sans-serif;
$pesofuentesecundaria: 300;

/* Fin Variables*/

@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap');


/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PAGINA INICIO */

/* header inicio */

header {
    display: flex;
    justify-content: center;
    background-color: $colornegro;
    font-size: 18px;
}

.navbar{
    background-color: $colornegro !important;
}

.navbar-brand img {
    width: 60px;
}

.navbar-nav a {
    color: $colorblanco !important;
}

.navbar-nav a:hover {
    color: $colorceleste !important;
}

/* mediaquery inicio */

@media (max-width:576px) {
    .navbar {
        width: 100%;
    }

    .navbar-collapse ul {
        text-align: center;
    }
}

@media (min-width:576px) {
    .navbar {
        width: 800px;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center;

        ul {
            width: 400px;
            display: flex;
            justify-content: center;
        }

        li {
            margin: 10px;
        }

        a {
            padding: 10px;
        }
    }
}

/* fin mediaqury */

/* header fin */
