/* Inicio Variables*/

/*Colores*/

$colornegro: #000;
$colorblanco: #fff;
$colorprimarioinicio: #6EA4BF;

/* Fonts */

$fuenteprincipal: "ZCOOL XiaoWei", sans-serif;
$fuentesecundaria: "Winky Sans", sans-serif;
$pesofuentesecundaria: 300;

/* Fin Variables*/

@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap');


/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PAGINA INICIO */

/* header inicio */

header {
    display: flex;
    justify-content: center;
    background-color: $colornegro;
    font-size: 18px;
}

.navbar{
    background-color: $colornegro !important;
}

.navbar-brand img {
    width: 60px;
}

.navbar-nav a {
    color: $colorblanco !important;
    font-family: $fuenteprincipal;
}

.navbar-nav a:hover {
    color: $colorprimarioinicio !important;
}

/* mediaquery inicio */

@media (max-width:576px) {
    .navbar {
        width: 100%;
    }

    .navbar-collapse ul {
        text-align: center;
    }
}

@media (min-width:576px) {
    .navbar {
        width: 800px;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center;

        ul {
            width: 400px;
            display: flex;
            justify-content: center;
        }

        li {
            margin: 10px;
        }

        a {
            padding: 10px;
        }
    }
}

/* fin mediaqury */

/* header fin */

/* main inicio */

.main-inicio {
    background-image: url(../img/Inicio/vintage-old-rustic-cutlery-dark.jpg);
    background-size: cover;
    height: 400px;
    border-top: 1px solid $colorblanco;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
    padding-left: 10px;
}

.main-inicio-box1 {
    background-color: $colorprimarioinicio;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid $colorblanco;

    h1 {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 500;
        color: $colornegro;
        font-family: $fuenteprincipal;
    }

    p {
        font-size: 14px;
        color: $colorblanco;
        margin: 0px;
        padding-bottom: 10px;
        font-family: $fuentesecundaria;
        font-weight: $pesofuentesecundaria;
    }

    a {
        text-decoration: none;
        color: $colorprimarioinicio;
        background-color: $colornegro;
        font-size: 15px;
        font-weight: bold;
        border: 2px solid $colorblanco;
        padding: 5px 10px;
        border-radius: 10px;
    }
}

/* inicio mediaquery */

@media (min-width:420px) {
    .main-inicio {
        justify-content: end;
        padding-right: 25px;
    }
}

/* fin mediaquery */

/* main fin */
