/* section-2 inicio */

.sec-2-comida {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-secundario-comida;
    border-top: 3px solid $colorblanco;
}

.sec-2-comida h2 {
    text-align: center;
    padding: 25px 0px 50px 0px;
    font-size: 35px;
    font-family: $fuenteprincipal;
}

.sec-2-comida-div1 {
    max-width: 800px;
}

.sec-2-comida-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px !important;
}

.sec-2-comida-box1-img {
    background-image: url(../img/Comida/pancakes.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border: 3px solid $colorblanco;
}

.sec-2-comida-box1 p {
    text-align: center;
    margin-top: 30px;
    font-family: $fuentesecundaria;
    font-weight: $pesofuentesecundaria;
}

/* inicio mediaquery */

@media (min-width:576px) {
    .sec-2-comida-box1-img {
        height: 300px;
    }

}

@media (min-width:700px) {
    .sec-2-comida-box1-img {
        height: 350px;
    }

    .sec-2-comida-box1 p {
        font-size: 20px;
    }

}

@media (min-width:800px) {
    .sec-2-comida-box1-img {
        height: 400px;
    }
}

/* fin mediaquery */

.sec-2-comida-box2 {
    background-image: url(../img/Comida/img2-comida-sec3.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    border: 5px solid $color-secundario-comida;
    box-shadow: inset 0px 0px 0px 3px $colorblanco;
}

.sec-2-comida-box3 {
    background-image: url(../img/Comida/img3-comida-sec3.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    border: 5px solid $color-secundario-comida;
    box-shadow: inset 0px 0px 0px 3px $colorblanco;
}

.sec-2-comida-box4 p {
    text-align: center;
    margin-top: 25px;
    font-family: $fuentesecundaria;
    font-weight: $pesofuentesecundaria;
}

/* inicio mediaquery */

@media (min-width:700px) {
    .sec-2-comida-box4 p {
        font-size: 20px;
    }

    .sec-2-comida-box2,
    .sec-2-comida-box3 {
        height: 500px;
    }
}

/* fin mediaquery */

/* section-2 fin */