/* section-3 inicio */

.sec-3-inicio {
    background-color: $color-tres-inicio;
    border-top: 2px solid $colorblanco;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: $colornegro;
        text-align: center;
        font-weight: 500;
        font-size: 40px;
        padding: 25px 0px 50px 0px;
        font-family: $fuenteprincipal;
    }
}


.sec-3-inicio-div1{
    max-width: 900px;
}

.sec-3-inicio p {
    text-align: center;
    font-family: $fuentesecundaria;
    font-weight: $pesofuentesecundaria;
}

.sec-3-inicio-box1 {
    display: flex;
    align-items: center;
    padding: 15px;
}

.sec-3-inicio-img1 {
    background-image: url(../img/Inicio/img1-inicio-sec4.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    border: 3px solid $colornegro;
}

/* inicio mediaquery */

@media (min-width:820px) {
    .sec-3-inicio-box1 p {
        font-size: 20px;
    }
}

@media (min-width:1000px) {
    .sec-3-inicio-img1 {
        height: 350px;
    }

    .sec-3-inicio-box1 p {
        font-size: 22px;
    }
}

/* fin mediaquery */

/* section-3 fin */
