/* header inicio */

header {
    display: flex;
    justify-content: center;
    background-color: $colornegro;
    font-size: 18px;
}

.navbar{
    background-color: $colornegro !important;
}

.navbar-brand img {
    width: 60px;
}

.navbar-nav a {
    color: $colorblanco !important;
    font-family: $fuenteprincipal;
}

.navbar-nav a:hover {
    color: $color-primario-nosotros !important;
}

/* mediaquery inicio */

@media (max-width:576px) {
    .navbar {
        width: 100%;
    }

    .navbar-collapse ul {
        text-align: center;
    }
}

@media (min-width:576px) {
    .navbar {
        width: 800px;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center;

        ul {
            width: 400px;
            display: flex;
            justify-content: center;
        }

        li {
            margin: 10px;
        }

        a {
            padding: 10px;
        }
    }
}

/* fin mediaqury */

/* header fin */